.navbar {
  background-color: deeppink;
}

.navbar span {
  font-size: 27px;
  padding-left: 30px;
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  position: relative;
  top: 5px;
  padding-right: 20px;
}

.navbar ul li {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  color: azure;
}

.navbar ul li:hover {
  background: slateblue;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 6px;
}

.navbar ul .active {
  background: slateblue;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 6px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(2, 2, 2, 0.7);
}

.popup .container {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 25%;
  background: darkcyan;
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 5px;
}

.popup .container label {
  position: relative;
  left: 170%;
  top: 35px;
  color: aliceblue;
}

.popup .container span {
  position: relative;
  left: 150%;
  top: 35px;
  color: aliceblue;
}

.popup .container .close {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 45px;
  height: 35px;
  text-align: center;
  font-size: 19px;
  line-height: 25px;
  color: antiquewhite;
  font-weight: bold;
  cursor: pointer;
  border-bottom-right-radius: 30px;
}

.popup .container .close:hover {
  opacity: .8;
}
